@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

:root {
  /* zinc 200 */
  --background: #e4e4e7;
  /* zinc 800 */
  --foreground: #27272a;
  --card: white;
  /* zinc 950 */
  --card-foreground: #09090b;
  --popover: white;
  /* zinc 950 */
  --popover-foreground: #09090b;
  /* zinc 900 */
  --primary: #18181b;
  /* zinc 50 */
  --primary-foreground: #fafafa;
  /* zinc 100 */
  --secondary: #f4f4f5;
  /* zinc 900 */
  --secondary-foreground: #18181b;
  /* zinc 100 */
  --muted: #f4f4f5;
  /* zinc 500 */
  --muted-foreground: #71717a;
  /* zinc 100 */
  --accent: #f4f4f5;
  /* zinc 900 */
  --accent-foreground: #18181b;
  --destructive: #dc2626;
  /* zinc 200 */
  --border: #e4e4e7;
  /* zinc 200 */
  --input: #e4e4e7;
  /* zinc 400 */
  --ring: #a1a1aa;
  --radius: 0.625rem;
  /* emerald */
  --theme-50: #ecfdf5;
  --theme-100: #d1fae5;
  --theme-200: #a7f3d0;
  --theme-300: #6ee7b7;
  --theme-400: #34d399;
  --theme-500: #10b981;
  --theme-600: #059669;
  --theme-700: #047857;
  --theme-800: #065f46;
  --theme-900: #064e3b;
  --theme-950: #022c22;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* zinc 800 */
    --background: #27272a;
    /* zinc 200 */
    --foreground: #e4e4e7;
    /* zinc 900 */
    --card: #18181b;
    /* zinc 50 */
    --card-foreground: #fafafa;
    /* zinc 900 */
    --popover: #18181b;
    /* zinc 50 */
    --popover-foreground: #fafafa;
    /* zinc 200 */
    --primary: #e4e4e7;
    /* zinc 900 */
    --primary-foreground: #18181b;
    /* zinc 800 */
    --secondary: #27272a;
    /* zinc 50 */
    --secondary-foreground: #fafafa;
    /* zinc 800 */
    --muted: #27272a;
    /* zinc 400 */
    --muted-foreground: #a1a1aa;
    /* zinc 800 */
    --accent: #27272a;
    /* zinc 50 */
    --accent-foreground: #fafafa;
    --destructive: #ef4444;
    --border: #ffffff1a;
    --input: #ffffff26;
    /* zinc 500 */
    --ring: #71717a;
    /* emerald reversed */
    --theme-50: #022c22;
    --theme-100: #064e3b;
    --theme-200: #065f46;
    --theme-300: #047857;
    --theme-400: #059669;
    --theme-500: #10b981;
    --theme-600: #34d399;
    --theme-700: #6ee7b7;
    --theme-800: #a7f3d0;
    --theme-900: #d1fae5;
    --theme-950: #ecfdf5;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sans);
  --font-mono: var(--font-geist-mono);
  --font-asimovian: "Asimovian", sans-serif;
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
  --color-theme-50: var(--theme-50);
  --color-theme-100: var(--theme-100);
  --color-theme-200: var(--theme-200);
  --color-theme-300: var(--theme-300);
  --color-theme-400: var(--theme-400);
  --color-theme-500: var(--theme-500);
  --color-theme-600: var(--theme-600);
  --color-theme-700: var(--theme-700);
  --color-theme-800: var(--theme-800);
  --color-theme-900: var(--theme-900);
  --color-theme-950: var(--theme-950);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }

  html {
    @apply font-sans;
  }
}
